{% extends "base.html" %}
{% block title %}添加文章{% endblock %}
{% block content %}
<style>
    .errorlist {float: right;}
    .errorlist li {color: red;}
</style>


    <h3>添加文章</h3>
    <form class="mt-4" action="" method="post">
        <table>
            <tr>
                <td>
                    {% csrf_token %}
                    {{ form }}
                </td>
                <td><input type="submit" value="提交"></td>
            </tr>

        </table>
    </form>

{% endblock %}
